@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    margin: 0;
}
.regis-photo {
    min-height: 500px;
    max-height: 50vh;
    transform: translateX(50vw);
    overflow: hidden;
}
.background {
    padding: 0;
    position: relative;
    width: 100%;
    background: #60a9ff;
}

.background::after {
    content: '';
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.container {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    width: 100%;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
    width: auto;
    flex-direction: row;
    text-align: center;
    text-transform: uppercase;
}
@media screen and (min-width: 500px) and (max-width: 1185px) {
    .pricing-table {
        flex-wrap: wrap;
    }
}
.header {
    padding: 25px;
    flex-basis: 100%;
    padding: 25px 50px;
}

.img {
    margin-bottom: 25px;
    font-size: 35px;
}

.name {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

.data {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.register-content h3 {
    margin: 50px 0 10px 50px;
    top: 100px;
    color: #2e8cff;
    font-size: 40px;
    font-weight: 900;
}

.register-content button {
    background-color: #016FF9;
    font-weight: 600;
    color: white;
    padding: 15px 0;
    border-radius: 10px;
    border-style: none;
    width: 30%;
    text-align: center;
}

.regis-btn-auth {
    display: block;
}

.regis-btn a {
    color: white;
    text-decoration: none;
}

.card-container {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20px;
    margin: 0 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.card-container-header {
    border-top-right-radius: 15px;
    color: white;
    width: 100%;
    padding: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card-container input {
    background: #EEEEEE;
    border-radius: 30px;
    border: none;
    padding: 10px;
    min-width: 0;
    width: 100%;
}

.card-container input[type='submit'] {
    background-color: #016FF9;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    border-style: none;
    
}
.new-container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    margin-bottom: 15vh;
}
.left {
    height: 101.5%;
}
.new-container {
    border-radius: 15px;
    margin-top: 10vh;
    margin-left: 25vw;
    width: 50vw;
    height: 20vw;
}
@media screen and (min-width: 500px)and (max-width: 1000px) {
    .new-container {
        min-width: 70vw;
        min-height: 50vh;
        margin-left: 15vw;
    }
    .card-container {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    .left {
        display: none;
    }
    .card-container-header {
        border-top-left-radius: 15px;
    }
}
@media screen and (min-width: 1001px)and (max-width: 1600px) {
    .new-container {
        min-width: 60vw;
        min-height: 45vh;
        margin-left: 20vw;
    }
    .card-container {
        width: 100%;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }
    .left {
        display: none;
    }
    .card-container-header {
        border-top-left-radius: 15px;
    }
}
@media screen and (min-width: 1601px){
    .new-container {
        min-width: 50vw;
        min-height: 40vh;
    }
}