.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.subcontainer {
    margin-bottom: 10px;
}
h1 {
    font-size: 2.5vw;
    text-align: center;
}
textarea {
    border: 2px solid #285CAD;
    background-color: #c6edff;
    padding: 15px;
}
.label {
    color: rgb(33, 150, 243);
    font-size: 20px;
    font-weight: bolder;
    margin: 10px;
}
.subcontainer2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button-container .btn {
    margin-right: 20px;
}
.dropdown-item {
    color:rgb(33, 150, 243);
}
