.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
h1 {
  margin-bottom: 20px;
  font-size: 4.5vw;
}
.container {
  z-index: 0 !important;
  padding-bottom: 30px;
  border-radius: 15px !important;
  position: relative !important;
  bottom: 5vh !important;
  background-color: white !important;
  box-shadow: 5px 3px 21px -7px rgba(0, 0, 0, 0.50) !important;
  -webkit-box-shadow: 5px 3px 21px -7px rgba(0, 0, 0, 0.50) !important;
  -moz-box-shadow: 5px 3px 21px -7px rgba(0, 0, 0, 0.50) !important;
  margin-bottom: 0;
}
.down {
  bottom: 0 !important;
  margin-bottom: 50px;
}
.button-container {
  display: flex;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hidden {
  font-size: 0 !important;
  max-height: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden !important;
  transition: 400ms ease-in-out !important;
}
.show {
  max-height: auto !important;
  transition: 300ms ease-in !important;
}
h2 {
  color: #2a98dc;
  text-align: center;
  margin: 30px 0;
}
h3 {
  color: #2a98dc !important;
  margin: 10px 0 !important;
}
.subheading {
  font-size: 0.6em;
  color: grey;
}
body {
  overflow-x: hidden !important;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.dropdown-item {
  color:rgb(33, 150, 243);
}
