
{% extends 'base8000.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{%static 'profile-dashboard.css'%}">
{% endblock %}
{% block title %}User Dashboard{% endblock %}
{%block nav%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
    Dashboard
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user">My Profile</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
  </ul>
</li>
{%if account.is_verified%}
<li class="nav-item">
  <a class="nav-link" href="/laporan" role="button">
    Report Bansos
  </a>
</li>
{%endif%}
{%endblock%}
{%block rightnav%}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ account.name }} 
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{%endblock%}
{% block body %}
 <div class="col-md-12">
    <div class="container">
    <div class="card">
      <div class="profile-header"><h2>My Profile</h2></div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-6 "  >
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                    {{account.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">NIK</h6>
                    </div>
                    <div class="col-sm-6  text-secondary">
                      {{account.NIK}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">SKTM</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                       {{account.SKTMLink}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Buku Tabungan</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                      {{account.bukuTabunganLink}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Area</h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                      {{account.partOf.area_name}}
                    </div>
                  </div>
                  <hr>
                    <div class="row">
                    <div class="col-sm-6">
                      <h6 class="mb-0">Verification Status </h6>
                    </div>
                    <div class="col-sm-6 text-secondary">
                    {%if account.is_verified%}
                      <h6>VERIFIED</h6>
                    {%else%}
                      <h6>UNVERIFIED</h6>
                    {%endif%}
                    </div>
                  </div>
                  <hr> 
                   <div class="row">
                    <div class="col-sm-12">
                      <button style="background-color:#B2E4D5" type="button"  class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-pk="{{account.pk}}" data-sktm="{{ account.SKTMLink }}" data-buku="{{ account.bukuTabunganLink }}">Edit</button>
                    </div>
                  </div>
                </div>
                       </div>
                       </div>
              </div>
    {% comment %} <div id="navbar"> 
  <ul> 
	<li><a href="/user">Home</a></li> 
	<li><a href="/user/dashboard/mybansos">MyBansos</a></li> 
	<li><a href="/user/dashboard/history">History</a></li> 
  </ul> 

    <h4 style ="color : red"> User Detail </h4>
    <h5>Name: {{account.name}}</h5>
    <h5>NIK: {{account.NIK}}</h5>
    <h5>SKTM LINK : {{account.SKTMLink}}</h5>
    <h5>buku tabungan : {{account.bukuTabunganLink}}</h5>
    <h5>Part Of : {{account.partOf.area_name}}</h5>
    </div> {% endcomment %}
<!-- Button trigger modal -->
</div>

{% comment %} <button style="background-color:#B2E4D5" type="button" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-pk="{{account.pk}}" data-sktm="{{ account.SKTMLink }}" data-buku="{{ account.bukuTabunganLink }}">Edit</button> {% endcomment %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">SKTM</label>
                        <input type="text" class="form-control sktm " id="modal_sktm" value="" placeholder="SKTM">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Buku</label>
                        <input type="text" class="form-control buku " id="modal_buku" value="" placeholder="Buku">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" pk="" class="edit-obat btn btn-primary" >Save</button>
                </div>  
            </div>
          </div>
          </div>
          
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
        var exampleModal = document.getElementById('exampleModal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget
                // Extract info from data-* attributes
                var sktm = button.getAttribute('data-sktm')
                var buku = button.getAttribute('data-buku')
                var pk = button.getAttribute('data-pk')

                // If necessary, you could initiate an AJAX request here
                // and then do the updating in a callback.
                
                // Get the modal's content.
                var modalBodysktm = exampleModal.querySelector('.modal-body .sktm')
                var modalBodybuku = exampleModal.querySelector('.modal-body .buku')
                var modalSaveButton = exampleModal.getElementsByClassName("edit-obat")

                modalBodysktm.value = sktm
                modalBodybuku.value = buku
                modalSaveButton.pk = pk
            })
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                    let c = ca[i];
                    while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                    }
                }
                return "";
            }

            $(document).ready(function(){
              $(".edit-obat").click(function() {

                    $.ajax({
                        url: "/user/edit_note",
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        data: {
                            "id": exampleModal.getElementsByClassName("edit-obat").pk,
                            "sktm": document.getElementById('modal_sktm').value,
                            "buku": document.getElementById('modal_buku').value,
                        },
                        success: function(result){
                            location.reload();
                            console.error(err)
                        },
                        error: function (err) {
                            console.error(err)
                        }
                    })
                })

                $(".delete-obat").click(function(){
                    $.ajax({
                        url: "/user/edit_note",
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        data: {
                            "id": $(this).attr('pk')
                        },
                        success: function(result){
                            location.reload();
                        },
                        error: function (err) {
                            console.error(err)
                        }
                    });
                });
            });
</script>


{% endblock %}
  

 