{% extends 'base8000.html' %}
{% block head %}
{% endblock %}
{% block title %}History{% endblock %}
{%block nav%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
    Dashboard
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user">My Profile</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
  </ul>
</li>
{%if account.is_verified%}
<li class="nav-item">
  <a class="nav-link" href="/laporan" role="button">
    Report Bansos
  </a>
</li>
{%endif%}
{%endblock%}
{%block rightnav%}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ account.name }} 
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{%endblock%}
  <style>
  </style>
{% block body %}

<div class="table-responsive" style ="margin-top:10px">
{%if account.is_verified%}
    <a href="../../../laporan"><buttontype="button" class="btn btn-warning" style = 'margin:10px;width:100px;' >REPORT!</button></a>
    {%endif%}
        {% for i in receivedBansos%}
        <hr>
          <details style="margin-bottom:20px;margin-left:20px">
          <summary>
          {{i.owning_group.id_bansos_group}}
          </summary>
          <table class="table table-sm" >
            <thead>
              <tr>
                <th scope="col md-6" width='100px' >#</th>
                <th scope="col md-6"width='300px' >Name</th>
                <th scope="col md-6"width='200px' >Qty</th>
                <th scope="col md-6"width='200px' >Unit</th>
                <th scope "col md-6" width='200px'> Time </th>
              </tr>
            </thead>
            <tbody>
            {% for x,y in i.owning_group.bentuk_bantuan.items %}
              {% for m,n in i.owning_group.satuan_bantuan.items%}
              {%if x == m%}
              <tr>
                <th scope="row"></th>
                <td>{{x}}</td>
                <td>{{y}}</td>
                <td>{{n}}</td>
                {% for k in previousLocation %}
                {% if k.bansos_group.id_bansos_group == i.owning_group.id_bansos_group and k.status == 'RECEIVED'%}
                <td>{{k.time_stamp}}</td>
                {%endif%}
                {%endfor%}
                
              {%endif%}
              </tr>
              {% endfor %}
              {% endfor %}
            </tbody>
          </table>

          </details>
                    {% endfor %}
    </div> 

{% endblock %}
