{% extends 'base8000.html' %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}" />
<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
<link rel="stylesheet" href="{% static 'css/input_style.css' %}" />
{% endblock %} {% block title %}Register Admin{% endblock %} {% block nav %}
<li class="my-profile nav-item">
  <a href="/beranda/" class="nav-link">Beranda</a>
</li>
{% endblock %} {% block rightnav %}
<!-- <li class="nav-item">
        <a href="{% url 'beranda:login' %}" class="nav-link">Login</a>
    </li> -->
{% endblock %} {% block body %}
<div class="peduli-blue header"><h1>Register Admin</h1></div>
<div class="container show">
  <form method="POST">
    {% csrf_token %}

    <div class="max">
      <small style="color: white">Name</small>
    </div>

    <div class="max">
      <label style="color: #2a98dc">Telephone</label>
    </div>
    <div class="max" id="telephone">{{ Form.telephone }}</div>

    <div class="max">
      <label style="color: #2a98dc">Password</label>
    </div>
    <div class="max">{{ Form.password }}</div>

    <div class="max">
      <label style="color: #2a98dc">Name</label>
    </div>
    <div class="max">{{ Form.name }}</div>

    <div class="max">
      <label style="color: #2a98dc">Select Admin Type</label>
    </div>
    <div class="max">{{ Form.admin_type }}</div>

    <div class="max">
      <label style="color: white">Name</label>
    </div>
    <div class="buttoncontainer">
      <input
        type="submit"
        value="Register"
        class="submit btn btn-primary btn-lg"
      />
    </div>
  </form>
</div>
{% endblock %} {% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{%static 'js/registration_verify_admin.js'%}"></script>

{% endblock %}
