@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.peduli-blue {
    /* background: #2A98DC; */
    background: rgb(33, 150, 243);
    color: #E6F4F6 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-logo-small {
    max-width: 10% !important;
    max-height: 10% !important;
    margin: 0 !important;
}

.footer-peduli {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    background: #EAF5FA;
    width: 100%;
    padding: 50px;
    max-height: 20%;
}

.footer-right, .footer-left {
    width: 50%;
}

.div-403 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
}

.div-403 h1 {
    font-size: 5rem;
}

.btn-homepage {
    background: rgb(33, 150, 243);
    color: white;
    outline: rgb(33, 150, 243) solid 2px;
}

.btn-homepage:hover {
    background: white;
    color: rgb(33, 150, 243);
}