.container {
    width: 50vw !important;
    display: flex!important;
    justify-content: center !important;
}
.profile-header {
    text-align: center;
    min-width: 100%;
    background-color: rgb(47, 155, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.profile-header h2 {
    margin-top: 10px;
    color: #FFFF;
}
.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 40vh;
}
.card {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 60vw;
    max-width: 40vh;
    min-height: 40vh;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    border-radius: 15px;
    padding-bottom: 20px;
}
.profile-picture {
    margin-top: 25px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("profile.png");
    background-size: contain;
    background-repeat: no-repeat;
}
