{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <script src="https://kit.fontawesome.com/5be1880edb.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href = "{% static 'beranda.css' %}">
{% endblock %}

{% block title %}Bansos Peduli{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <li class="my-profile nav-item">
            {% if user.admin %}
                <a href = "/staff/admin-info" class="nav-link">My Profile</a>
            {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  Dashboard
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/user">My Profile</a></li>
                  <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
                  <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
                </ul>
              </li>
            {% endif %}
        </li>
        {% if user.admin %}
            {% if user.admin.type == "generator" %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
                <ul class="dropdown-menu" id="generator-dropdown">
                    <li class="dropdown-item">
                        <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
                    </li>
                </ul>
            </li>
            {% elif user.admin.type == "tracker" %}
                <li class="nav-item">
                    <a href="{% url 'distribusi:tracking_admin_dashboard' %}" class="nav-link">Tracking Dashboard</a>
                </li>
            {% elif user.admin.type == "verification" %}
                <li class="nav-item">
                    <a href="{% url 'verification' %}" class="nav-link">Verification Dashboard</a>
                </li>
            {% elif user.admin.type == "customer-service"%}
                <li class="nav-item">
                    <a href="{% url 'laporan-admin' %}" class="nav-link">Reports Dashboard</a>
                </li>
            {%endif%}
        {% else %}
        <a href = "/laporan" class="nav-link">Report Bansos</a>
        {% endif %}
    {% endif %}

{% endblock %}

{% block rightnav %}
    {% if user.is_authenticated %}
        <li style="color:white" class="nav-item">
            <div class="nav-link" style="color:white;">
                Hello, {{ user.admin.name }}{{ user.accountmasyarakat.name }}
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/beranda/logout/">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                    <path d="M0 0h24v24H0z" fill="none"/>
                    <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
                </svg>
            </a>
        </li>
    {% else %}
        <li class="login nav-item"><a class = "nav-link" style="color:white; font-weight: 900; font-size: 1rem;"href = "/beranda/login">Login</a></li>
    {% endif %}
{% endblock %}

{% block body %}
<div class = "register" style="overflow:hidden;">
    <img class = "regis-photo" src = "{% static 'banner.svg' %}">
    <div class = "register-content">
        {% if user.is_authenticated %}
            <h3 class = "register-header" style="position: absolute; top:100px; left: 50px;">
                Terima kasih sudah berpartisipasi<br>
                dalam program Bansos<br>
                COVID-19<br>
            </h3>
        {% else %}
        <div style="display: flex; flex-direction:column;position: absolute; top: 100px; left: 50px; align-items: center;">
            <h3 style="display:block;"class = "register-header">
                Segera daftar dan berpartisipasi<br>
                dalam program Bansos<br>
                COVID-19<br>
            </h3>
            <button style="display:block;"class = "regis-btn"><a href="/registration/citizen">REGISTER</a></button>
        </div>
        {% endif %}
    </div>
</div>
<div class="background">
    <div class="container">
        <h2 style="text-align: center; color: white; font-weight: bold; margin-bottom: 20px;"><u>DATA COVID INDONESIA</u></h2>
        <div class="panel pricing-table">
            <div class="header">
                <p class = "img"><i class="fas fa-plus-circle"></i></p>
                <h2 class="name">Positif</h2>
                <span class="data positif">{{ data.positif }}</span>
            </div>
            <div class="header">
                <p class = "img"><i class="fas fa-heart"></i></p>
                <h2 class="name">Sembuh </h2>
                <span class="data sembuh">{{ data.sembuh }}</span>
            </div>
            <div class="header">
                <p class = "img"><i class="fas fa-procedures"></i></p>
                <h2 class="name">Dirawat</h2>
                <span class="data dirawat">{{ data.dirawat }}</span>
            </div>
            <div class="header">
                <p class = "img"><i class="fas fa-skull"></i></i></p>
                <h2 class="name">Meninggal</h2>
                <span class="data meninggal">{{ data.meninggal }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src = "{% static 'covid-api.js' %}"></script>
{% endblock %}