{% extends 'base8000.html' %}

{% block head %}
{% load static %}
<link rel='stylesheet' href='{% static "beranda.css" %}'>
<link rel='stylesheet' href='{% static "distribusi/distribusi-bansos.css" %}'>
{% endblock %}

{% block title %}Login{% endblock %}

{% block nav %}
<li class="my-profile nav-item">
    <a href = "/beranda/" class="nav-link">Beranda</a>
</li>
{% endblock %}
{% block body %}
    <div class="new-container">
        <div class="left">
            <img style="max-width:100%; max-height: 100%; border-top-left-radius: 15px; border-bottom-left-radius: 15px;"src="{% static 'login_banner.svg'%}" alt="">
        </div>
        <div class="card card-container">
            <div class="card-container-header peduli-blue">SIGN IN</div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="regis-btn" value="Log In">
            </form>
        </div>
    </div>
    {% if errors %}
    <div class="error-container" style="top: 25px;">
        <div class="alert alert-danger alert-dismissible align-items-center d-flex fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
            </svg>
            <div>
                The previous input violates the following constraints.
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
{% endblock %}