{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script>
    <link rel="stylesheet" href="{%static 'admin-dashboard.css'%}">
{% endblock %}

    

{% block title %}Admin Information{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link active">My Profile</a>
    </li>
    {% if Admin_Info.admin.type == "generator" %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
            <ul class="dropdown-menu" id="generator-dropdown">
                <li class="dropdown-item">
                    <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
                </li>
                <li class="dropdown-item">
                    <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
                </li>
            </ul>
        </li>
    {% elif Admin_Info.admin.type == "tracker" %}
        <li class="nav-item">
            <a href="{% url 'distribusi:tracking_admin_dashboard' %}" class="nav-link">Tracking Dashboard</a>
        </li>
    {% elif Admin_Info.admin.type == "verification" %}
        <li class="nav-item">
            <a href="{% url 'verification' %}" class="nav-link">Verification Dashboard</a>
        </li>
    {% elif Admin_Info.admin.type == "customer-service"%}
        <li class="nav-item">
            <a href="{% url 'laporan-admin' %}" class="nav-link">Reports Dashboard</a>
        </li>
    {%endif%}
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ Admin_Info.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{% endblock %}

{% block body %}
        <div class="parent">
        
          {% if Admin_Info %}
            <div class="container">
                <div class="card">
                    <div class="profile-header"><h2>My Profile</h2></div>
                    <div class="profile-picture">
                    </div>
                    <div class="badge">
                        <h3 class="badge-text">Admin</h3>
                    </div>
                    <div class="name">
                        <h4>{{ Admin_Info.admin.name }}</h4>
                    </div>
                    <div class="type">
                        <h5>{{ Admin_Info.admin.type }}</h5>
                    </div>
                    <div class="telephone">
                        <h4><span>Registered Phone Number: </span><span>{{ Admin_Info.telephone }}</span></h4>
                    </div>
                    <a class="btn btn-danger" href="/beranda/logout">Log Out</a>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        
{% endblock %}
</html>
