{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script>
    <script src="{%static 'bansospeduli-verification.js'%}"defer></script>
    <link href="{%static 'verif.css'%}" rel="stylesheet">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'verification' %}" class="nav-link active">Verification Dashboard</a>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{% endblock %}

{% block body %}
        <input type="hidden" value="{{ user.telephone }}" id="admin_tele">
        <div class="title-container-verif">
            <span class="special-title">Verification Dashboard</span>
        </div>
        <div class="row"
        style="padding-top: 25px;">
            <div class="col">
                <div class="container">
                    <ul class="list-group-flush">
                        <div class="card-header card-header-dashboard">
                            Unverified User
                        </div>
                        <li class="list-group-item" id="unverified_user_container">
                            
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col">
                <div class="container">
                    <ul class="list-group-flush">
                        <div class="card-header card-header-dashboard">
                            Verified User
                        </div>
                        <li class="list-group-item" id="verified_user_container"></li>
                    </ul>
                </div>
            </div>
            </div>
{% endblock %}