{% extends 'base8000.html' %}

{% block head %}
{% endblock %}

{% block title %}
403 Forbidden
{% endblock %}

{% block body %}
{% load static %}
<div class="div-403">
    <img src="{% static 'access-denied.png' %}" style="width:20rem;height:20rem">
    <h1>403</h1>
    <h2>Access Denied.</h2>
    <h3>Sorry, you shall not pass.</h3>
    <br>
    <a href="/" class="btn btn-homepage">Go to Homepage</a>
</div>
{% endblock %}