{% extends 'base8000.html' %}

{% block head %}
{% endblock %}

{% block title %}
404 Not Found
{% endblock %}

{% block body %}
{% load static %}
<div class="div-403">
    <img src="{% static 'not-found.png' %}" style="width:20rem;height:20rem">
    <h1>404</h1>
    <h2>Page Not Found.</h2>
    <h3>Sorry, the page you are trying to access is not available.</h3>
    <br>
    <a href="/" class="btn btn-homepage">Go to Homepage</a>
</div>
{% endblock %}