{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'distribusi/distribusi-bansos.css'%}" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script>
    <script src="{% static 'distribusi/js/detail-bansos.js' %}" defer></script>
    <script src="{% static 'distribusi/js/toggler-handler.js' %}" defer></script>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
        <ul class="dropdown-menu" id="generator-dropdown">
            <li class="dropdown-item">
                <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}


{% block title %}Bansos Detail{% endblock %}
{% block body %}
    <div class="title-container">
        <h1>Detail Bansos</h1>
        <h2 id="bansos-group-id">{{ bansos_group.id_bansos_group }}</h2>
    </div>
    
    <section class="adjusted-section">
        <div class="special-form-container">
            <h2>Tracking Admin</h2>
            <div class="row">
                <span>Name: {{ bansos_group.responsible_admin.name }}</span>
            </div>
            <div class="row">
                <span>Telephone: {{ bansos_group.responsible_admin.owning_user.telephone }}</span>
            </div>
        </div>

        <div class="special-form-container-title">
            <div class="inline-heading align-left">
                <span class="container-title">AREA INFORMATION
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle animated rotate-180" viewBox="0 0 16 16" id="location-toggler" style="color:black;">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </a>
                </span>
            </div>
            
        </div>
        <div class="special-form-container with-title">
            <div class="area-container">
                <h3>Destination Area</h3>
                <p>
                    <strong>Area-Code: </strong><span>{{ bansos_group.receiving_provinsi.area_code }}</span><br>
                </p>
                <p>
                    <strong>Urban Village Destination: </strong><span>{{ bansos_group.destination_kelurahan }}</span><br>
                </p>
                <p>
                    <strong>Sub-District Destination: </strong><span>{{ bansos_group.destination_kecamatan }}</span><br>
                </p>
                <p>
                    <strong>District/City Destination: </strong><span>{{ bansos_group.destination_kabupaten_kota }}</span><br>
                </p>
                <p>
                    <strong>Province Destination: </strong><span>{{ bansos_group.receiving_provinsi.area_name }}</span><br>
                </p>
                
                <h3>Location Update Stamp</h3>
                <!-- Location Timestamp -->
                <div id="past-location-container"></div>
            </div>
        </div>
        <div class="special-form-container-title">
            <div class="inline-heading align-left">
                <span class="container-title">RECEIVER INFORMATION
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle animated" viewBox="0 0 16 16" id="receiver-toggler" style="color:black;">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
        <div class="special-form-container with-title">
            <!-- Receiver Information -->
            <div class="receiver-info-container" style="display: none;">
                <div class="row">
                    <div class="col">
                        <h3>Number of Receiver</h3>
                    </div>
                    <div class="col">
                        <h3>{{ receiver | length }}</h3>
                    </div>
                </div>
                
                
                <table class="table table-borderless table-alternating">
                    <tr>
                        <th>Name</th>
                        <th>NIK</th>
                        <th>Telephone Number</th>
                    </tr>
                    {% for receiver_ in receiver %}
                    <tr>
                        <td>{{ receiver_.name }}</td>
                        <td>{{ receiver_.NIK }}</td>
                        <td>{{ receiver_.owning_user.telephone }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <!-- Package Information -->
        <div class="special-form-container-title">
            <div class="inline-heading align-left">
                <span class="container-title">PACKAGE INFORMATION
                    <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle animated" viewBox="0 0 16 16" id="package-info-toggler" style="color:black;">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </a>
                </span>
            </div>
            
        </div>
        <div class="special-form-container with-title">
            <div class="package-container">
                <h3>Value per Receiver</h3>
                <table class="table table-borderless table-alternating">
                    <tr>
                        <th>Assistance Type</th>
                        <th>Assistance Value</th>
                        <th>Assistance Unit</th>
                    </tr>
                    {% for type, value, unit in package_with_unit %}
                        <tr>
                            <td>{{ type }}</td>
                            <td>{{ value }}</td>
                            <td>{{ unit }}</td>
                        </tr>
                    {% endfor %}
                </table>

                <h3>Total Value in Bansos Group</h3>
                <table class="table table-borderless table-alternating">
                    <tr>
                        <th>Assistance Type</th>
                        <th>Assistance Value</th>
                        <th>Assistance Unit</th>
                    </tr>
                    {% for type, value, unit in type_converted %}
                        <tr>
                            <td>{{ type }}</td>
                            <td>{{ value }}</td>
                            <td>{{ unit }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <input type='button' class="btn btn-warning" onclick="window.location.href='/distribusi/'" value="Back"/>
        </div>
    </section>
    
{% endblock %}