{% extends 'base8000.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'distribusi/distribusi-bansos.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Generate Bansos{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
        <ul class="dropdown-menu" id="generator-dropdown">
            <li class="dropdown-item">
                <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}

{% block body %}
    <div class="title-container">
        <h1>Input Data Bansos</h1>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="special-form-container between-two">
            <h5>Origin Location Information</h5>
            <div class="row">
                <div class="col-sm-6">
                    <label for="input_kelurahan">Urban Village</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                  </svg>
                            </div>
                        </div>
                        <input
                        id="input_kelurahan"
                        name="input_kelurahan"
                        class="form-control"
                        placeholder="Enter Kelurahan"
                        />
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="input_kecamatan">Sub-District</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                </svg>
                            </div>
                        </div>
                        <input
                        id="input_kecamatan"
                        name="input_kecamatan"
                        class="form-control"
                        placeholder="Enter Kecamatan"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="input_kabupaten_kota">District/City</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                    <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                </svg>
                            </div>
                        </div>
                        <input
                        id="input_kabupaten_kota"
                        name="input_kabupaten_kota"
                        class="form-control"
                        placeholder="Enter Kabupaten/Kota"
                        />
                    </div>
                </div>
                <div class="col-sm-6">
                    <!-- Change to SELECT !!!-->
                    <label for="input_provinsi">Province</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                                </svg>
                            </div>
                        </div>
                        <select id="input_provinsi" name="input_provinsi" class="form-select">
                            <option selected="selected" disabled="disabled" class="text-muted">Choose Provinsi</option>
                        {% for area in areas %}
                            <option value="{{ area.area_code }},{{ area.area_name }}">{{ area.area_name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <h5>Target Location Information</h5>
            <div class="row">
                <div class="col-sm-6">
                    <label for="input_kelurahan_target">Urban Village</label>
                    <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                              </svg>
                        </div>
                    </div>
                    <input
                    id="input_kelurahan_target"
                    name="input_kelurahan_target"
                    class="form-control"
                    placeholder="Enter Kelurahan Destination"
                    />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="input_kecamatan_target">Sub-District</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                </svg>
                            </div>
                        </div>
                        <input
                        id="input_kecamatan_target"
                        name="input_kecamatan_target"
                        class="form-control"
                        placeholder="Enter Kelurahan Destination"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="input_kabupaten_kota_target">District/City</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                    <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                                </svg>
                            </div>
                        </div>
                        <input
                        id="input_kabupaten_kota_target"
                        name="input_kabupaten_kota_target"
                        class="form-control"
                        placeholder="Enter Kabupaten/Kota Destination"
                        />
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <label for="area">Province</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                                </svg>
                            </div>
                        </div>
                        <select id="area" name="area" class="form-select">
                                <option selected="selected" disabled="disabled" value="">Choose Provinsi Dest.</option>
                            {% for area in areas %}
                                <option value="{{ area.area_code }}">{{ area.area_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <section id="bansos-admin-section">
        <div class="special-form-container">
            <h2>Province Related Information</h2>
            <hr>
            <strong>Area Code: </strong><span id="area-code-placeholder"></span>
            <br>
            <strong>Area Name: </strong><span id="area-name-placeholder"></span>
            <br>
            <strong>Number of Receiver: </strong><span id="area-number-rec-placeholder"></span>
            <br>
            <br>
            <span class="subtitle">Area Bansos History</span>
            <table class="table table-borderless table-history">
                <thead class="thead-blue">
                    <tr>
                        <th class="">Bansos ID</th>
                        <th>Status</th>
                        <th class="">Link</th>
                    </tr>
                </thead>
                <tbody id="bansos-history-table">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        
        <div class="special-form-container bansos-container">
            <h2>Bansos Type</h2>
            <input type="button" class="btn btn-curious btn-md" value="Add Bansos Type" onclick="addBansos()"/>
            <div class="overflow-scroll-table-container">
                <table class="table container-jenis-bansos" id="container-bansos-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Assistance Type</th>
                            <th>Value per Receiver</th>
                            <th>Assistance Unit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="container-bansos-body">
                        <tr id="row0">
                            <td><input type='text' class="form-control-plaintext" placeholder='Type' id='type_input0' name='type_input0'></td>
                            <td><input type='number' class="form-control-plaintext" placeholder='Value' id='type_value0' name='type_value0'></td>
                            <td><input type='text' class="form-control-plaintext" placeholder='Unit' id='type_unit0' name='type_unit0'></td>
                            <td><input type='button' class="btn btn-danger btn-sm" value='Remove' onclick="removeBansos('row0')"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="special-form-container">
            <h2>Admin Information</h2>
            <label for="generating-admin">Generating Admin</label>
            <h5 id="generating-admin">{{ generating_account.telephone }}</h5>
            
            <div class="mb-3">
                <label for="tracking-admin">Tracking Admin</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="1.5rem" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                        </div>
                    </div>
                    <select id="tracking-admin" name="tracking-admin" class="form-select">
                        {% for tracking in tracking_accounts %}
                            {% if not tracking.admin.is_occupied %}
                                <option value="{{ tracking.telephone }}">{{ tracking.telephone }} - {{ tracking.admin.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmationModal" onclick="generateConfirmation()">Generate</button>
            <input type="button" class="btn btn-warning" onclick="window.location.href={% url 'distribusi:all_bansos' %}" value="Cancel">
        </div>

            <input type="hidden" id="item-counter" name="item-counter" value="1"/>
            <br/>
            <!-- Button trigger modal -->
            
            <!-- Modal Confirmation -->
            <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="confirmation-location-info"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Revise</button>
                        <button type="submit" class="btn btn-primary disabled" id="confirmation-generate-button">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>  
    </section>
    {% if errors %}
    <div class="error-container">
        <div class="alert alert-danger alert-dismissible align-items-center d-flex fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
            </svg>
            <div>
                The previous input violates the following constraints.
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
<script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript'></script>
<script src="{% static 'distribusi/js/distribusi.js' %}"></script>
{% endblock %}