{% extends 'base8000.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/lapordashboard.css'%}">
<link rel="stylesheet" href="{% static 'css/lapor.css'%}">
{% endblock %}
    <title>{% block title %}Dashboard Laporan{% endblock %}</title>
</head>
<body>
    {% block nav%}
    <li class="nav-item">
        <a href="/staff/admin-info" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
        <a href="/laporan/verify" class="nav-link active">Reports Dashboard</a>
    </li>
    {% endblock %}
    {% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a href="/beranda/logout" class="nav-link">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}
    {% block body %}
    <div class="peduli-blue header">
        <h1>User Reports Dashboard</h1>
    </div>
    <div class="container show">
        <h3><u>Unverified Reports</u></h3>
        <div class="accordion unverified">
            {% for id, info in unverified.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#unverified{{ forloop.counter }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                        <b>Bansos Report by User with NIK {{ info.report.reporting_user.NIK }} ({{ info.report.reporting_user.name }})</b>
                    </button>
                </h2>
                <div id="unverified{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <h3><u class="laporan-id">Laporan #{{ id }}</u></h3>
                        <strong>Reported Bansos ID: </strong><span>{{ info.report.reported_bansos.id_bansos }}</span><br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bentuk</th>
                                    <th scope="col">Jumlah</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bentuk, jumlah_satuan in info.bansosinfo.items %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ bentuk }}</td>
                                        <td>{{ jumlah_satuan.jumlah }} {{ jumlah_satuan.satuan }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <strong>Category: </strong><span>{{ info.report.report_category }}</span><br>
                        <strong>Status: </strong><span>NOT VERIFIED</span><br>
                        <h4><u>Message</u></h4>
                        <p>
                            {{ info.report.report_message }}
                        </p>
                        <form action="/laporan/verify/{{ id }}/accepted=True" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-success">Verify</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
    </div>
    <div class="container show">
        <h3><u>Verified Reports</u></h3>
        <div class="accordion verified">
            {% for id, info in verified.items %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#verified{{ forloop.counter }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
                        <b>Bansos Report by User with NIK {{ info.report.reporting_user.NIK }} ({{ info.report.reporting_user.name }})</b>
                    </button>
                </h2>
                <div id="verified{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <h3><u class="laporan-id">Laporan #{{ id }}</u></h3>
                        <strong>Reported Bansos ID: </strong><span>{{ info.report.reported_bansos.id_bansos }}</span><br>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Bentuk</th>
                                    <th scope="col">Jumlah</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bentuk, jumlah_satuan in info.bansosinfo.items %}
                                    <tr>
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ bentuk }}</td>
                                        <td>{{ jumlah_satuan.jumlah }} {{ jumlah_satuan.satuan }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <strong>Category: </strong><span>{{ info.report.report_category }}</span><br>
                        <strong>Status: </strong><span>VERIFIED</span><br>
                        <h4><u>Message</u></h4>
                        <p>
                            {{ info.report.report_message }}
                        </p>
                        <form action="/laporan/verify/{{ id }}/accepted=False" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger">Unverify</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
    </div>
    {% endblock %}
</body>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/report_dashboard.js' %}"></script>
{% endblock %}
</html>