
{% extends 'base8000.html' %}
{% load static %}

<title>{% block title %}Lapor {% endblock %}</title>
{% block head %}
<link rel="stylesheet" href="{% static 'css/lapor.css' %}">
{% endblock %}
<body>
    {% block nav %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        Dashboard
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/user">My Profile</a></li>
        <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
        <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/laporan" role="button">
        Report Bansos
      </a>
    </li>
    {% endblock %}
    {% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/beranda/logout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}
    {% block body %}
    <div class="peduli-blue header"><h1>Report <u>Your</u> Bansos</h1></div>
    <div class="container show notreported">
      <h2>Choose Bansos to Report</h2>
      {% if unreported|length > 0 %}
      <div class="accordion unreported" id="accordionParent">
          {% for id, info in unreported.items reversed %}
          <div class="accordion-item">
          <button type="button" class="btn accordion-button bansos-id" data-bs-parent="#accordionParent" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}">
            Bansos #{{ id }}<span class="subheading">&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg> click for more info</span>
          </button>
            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <span class="d-block mb-sm-3"><a href="/laporan/generate/{{ id }}" class="btn btn-danger" role="button">REPORT</a></span>
                <strong>Responsible Admin: </strong><span>{{ info.responsible_admin }}</span><br>
                <h4><u>Info Bansos</u></h4>
                <strong>Provinsi: </strong><span>{{ info.provinsi }}</span><br>
                <strong>Kecamatan: </strong><span>{{ info.kecamatan }}</span><br>
                <strong>Kelurahan: </strong><span>{{ info.kelurahan }}</span><br>
                <strong>Arrived On: </strong><span>{{ info.timestamp }}</span><br>
                <h4><u>Bentuk Bantuan</u></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bentuk</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bentuk, jumlah_satuan in info.bentuk_bantuan.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ bentuk }}</td>
                                <td>{{ jumlah_satuan.jumlah }} {{ jumlah_satuan.satuan }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}        
    </div>
    {% if reported|length > 0 %}
    <div class="button-container">
    <button type="button" class="btn btn-primary show-reported">Show Previously Reported Bansos</button>
    </div>
    <div class="container down reported hidden">
      <h2>Your Reported Bansos</h2>
      <h3><u>Verified</u></h3>
      <div class="accordion verified">
        {% for id, info in reported.items reversed %}
          {% if info.laporan.status == "True" %}
          <div class="accordion-item">
          <button type="button" class="btn accordion-button bansos-id" data-bs-parent="#accordionParent" data-bs-toggle="collapse" data-bs-target="#verified{{ forloop.counter }}">
            Bansos #{{ id }}<span class="subheading">&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg> click for more info</span>
          </button>
            <div id="verified{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Responsible Admin: </strong><span>{{ info.responsible_admin }}</span><br>
                <h4><u>Info Bansos</u></h4>
                <strong>Provinsi: </strong><span>{{ info.provinsi }}</span><br>
                <strong>Kecamatan: </strong><span>{{ info.kecamatan }}</span><br>
                <strong>Kelurahan: </strong><span>{{ info.kelurahan }}</span><br>
                <strong>Arrived On: </strong><span>{{ info.timestamp }}</span><br>
                <h4><u>Bentuk Bantuan</u></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bentuk</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bentuk, jumlah_satuan in info.bentuk_bantuan.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ bentuk }}</td>
                                <td>{{ jumlah_satuan.jumlah }} {{ jumlah_satuan.satuan }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4><u>Your Report</u></h4>
                <strong>ID: </strong><span>{{ info.laporan.id}}</span><br>
                <strong>Category: </strong><span>{{ info.laporan.category }}</span><br>
                <strong>Message: </strong>
                <p>{{ info.laporan.message }}</p>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
      <h3><u>Unverified</u></h3>
      <div class="accordion unverified">
        {% for id, info in reported.items reversed %}
          {% if info.laporan.status == "False" %}
          <div class="accordion-item">
          <button type="button" class="btn accordion-button bansos-id" data-bs-parent="#accordionParent" data-bs-toggle="collapse" data-bs-target="#unverified{{ forloop.counter }}">
            Bansos #{{ id }}<span class="subheading">&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg> click for more info</span>
          </button>
            <div id="unverified{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>Responsible Admin: </strong><span>{{ info.responsible_admin }}</span><br>
                <h4><u>Info Bansos</u></h4>
                <strong>Provinsi: </strong><span>{{ info.provinsi }}</span><br>
                <strong>Kecamatan: </strong><span>{{ info.kecamatan }}</span><br>
                <strong>Kelurahan: </strong><span>{{ info.kelurahan }}</span><br>
                <strong>Arrived On: </strong><span>{{ info.timestamp }}</span><br>
                <h4><u>Bentuk Bantuan</u></h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Bentuk</th>
                            <th scope="col">Jumlah</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bentuk, jumlah_satuan in info.bentuk_bantuan.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ bentuk }}</td>
                                <td>{{ jumlah_satuan.jumlah }} {{ jumlah_satuan.satuan }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h4><u>Your Report</u></h4>
                <strong>ID: </strong><span>{{ info.laporan.id}}</span><br>
                <strong>Category: </strong><span>{{ info.laporan.category }}</span><br>
                <strong>Message: </strong>
                <p>{{ info.laporan.message }}</p>
                <a role="button" class="btn btn-primary disabled" href="#">Update Report<br>
                  <span class="lock timer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                  </svg></span>
                  <span class="timer" id="{{ info.laporan.id }}"></span>
                </a>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endblock %}
</body>
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/user_bansos.js' %}"></script>
<script src="{% static 'js/lapor_bansos.js' %}"></script>
<script src="{% static 'js/cooldown.js' %}"></script>
{% endblock %}